.secendContent .coverImage {
  min-height: 300px;
  background-size: cover;
  background-position: center;
  background-image: url('/img/lower.jpg');
}

.beach .coverImage {
  background-image: url('/img/beach.jpg');
}

.secendContent .listContent {
  margin: 10px 0;
}

.secendContent .listContent .detail {
  padding: 5px 10px;
}
