.ActionSolgan {
    position: relative;
    color: white;
    min-height: calc(100vh - 64px);
    padding: 50px 10px;
}

.ActionSolgan .titleBlock {
    margin-top: 45vh;
    text-align: center;
}

.ActionSolgan .titleBlock h1 {
    font-size: 3rem;
    text-shadow: 0px 1px 10px #333, 0px 1px 100px #000;
    margin: 0;
}

.ActionSolgan .titleBlock .joinButton {
  margin:15px 20px;
  display: none !important;
}

.ActionSolgan .actionButtonBlock {
  text-align: center;
}

.ActionSolgan .background {
    background-image: url('/img/mainview.jpg');
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
}

.ActionSolgan .mainTitle {
  display: block;
}

@media only screen and (min-width: 48em) {
  .ActionSolgan .titleBlock h1 {
    font-size: 5rem;
  }

  .ActionSolgan .titleBlock .joinButton {
    display: inline-block !important;
  }

  .joinButton-sm {
    display: none !important;
  }
}
